[submodule "course/format/topcoll"]
	path = course/format/topcoll
	url = https://github.com/gjb2048/moodle-format_topcoll.git
[submodule "blocks/dndupload"]
	path = blocks/dndupload
	url = https://github.com/davosmith/moodle-block_dndupload.git
[submodule "local/hub"]
	path = local/hub
	url = https://github.com/moodlehq/moodle-local_hub.git
